<app-toolbar></app-toolbar>
<div class="news">
    <div class="newsFilters">
        <form [formGroup]="dataForm" class="selectNews">
            <mat-form-field>
                <mat-select formControlName="country">
                    <mat-option *ngFor="let country of contries" [value]="country?.id">{{country?.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <form class="inputNews">
            <mat-form-field>
                <input matInput [(ngModel)]="filterArticle" name="arti" type="text" placeholder="Buscar por título de noticia">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
    <div class="newsArticles">
        <div class="newsCards" *ngFor="let article of news?.articles | newsFilter:filterArticle">
            <mat-card>
                <a href="{{article.url}} ">
                    <img class="imgCard " src="{{article.urlToImage}} ">
                    <mat-card-content>
                        <h3>
                            {{article.title}}
                        </h3>
                        <h2>
                            Publicado: {{article.publishedAt}}
                        </h2>
                    </mat-card-content>
                    <mat-card-footer>
                        <p>
                            {{article.description}}
                        </p>
                        <p>
                            Por: {{article.source.name}}
                        </p>
                    </mat-card-footer>
                </a>
            </mat-card>
        </div>
    </div>
</div>