:host {
    width: 100%;
    height: auto;
}

.login {
    width: 100%;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    color: #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loginText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
        height: auto;
        text-align: center;
        .title {
            width: 100%;
            height: auto;
            min-height: 45px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a {
                display: flex;
                width: 97%;
                padding-right: 3%;
                justify-content: flex-end;
                mat-icon {
                    font-size: 1.5em;
                    color: rgb(139, 140, 140);
                }
            }
            a:hover {
                cursor: pointer;
                opacity: 0.7;
            }
            .titleImg {
                display: flex;
                width: 100%;
                justify-content: center;
                img {
                    height: 80px;
                    width: auto;
                }
            }
        }
        h1 {
            margin: 5px;
            font-size: 1.5em;
            font-weight: bold;
        }
        h2 {
            margin: 5px;
            font-size: 1em;
        }
        .loginSingup {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            h3 {
                font-size: 0.9em;
                font-weight: normal;
                color: gray;
                margin: 5px;
            }
            a {
                font-size: 0.9em;
                color: #0c3c4a;
                text-decoration: underline;
            }
        }
        .loginSingup a:hover {
            cursor: pointer;
            opacity: 0.9;
        }
    }
    .formLogin {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        form {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: black;
            mat-form-field {
                width: 85%;
                height: auto;
                max-height: fit-content;
                padding: 0 7.5%;
                justify-content: flex-end;
                align-items: center;
                mat-label {
                    color: gray;
                    font-size: 1.3em;
                    padding: 0px;
                    margin: 0px;
                }
                input {
                    width: 95%;
                    height: auto;
                    min-height: 30px;
                    font-size: 1.2em;
                    position: relative;
                    top: -4px;
                }
                mat-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2em;
                    padding: 0;
                    margin: 0;
                    position: relative;
                    top: -5px;
                }
                mat-error {
                    align-items: flex-end;
                    font-size: 1.08em;
                }
            }
            p {
                width: 82%;
                display: flex;
                margin: 0%;
                align-items: flex-start;
                justify-content: flex-start;
                color: #f44336;
                font-size: 0.8em;
                position: relative;
                bottom: 20px;
            }
            .loginForget {
                display: flex;
                width: 80%;
                padding: 0 10%;
                justify-content: flex-end;
                align-items: center;
                a {
                    font-size: 0.9em;
                    color: gray;
                    text-decoration: none;
                }
            }
            .loginForget a:hover {
                cursor: pointer;
                opacity: 0.9;
            }
            div {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0%;
                button {
                    margin: 30px;
                    width: 35%;
                    height: 40px;
                    color: #fff;
                    background-color: #0c3c4a;
                    border: solid 2px #0c3c4a;
                    border-radius: 6px;
                }
            }
            div button:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 14px !important;
    }
    h2 {
        font-size: 12px !important;
    }
    h3 {
        font-size: 11px !important;
    }
    a {
        font-size: 12px !important;
    }
    div {
        button {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            font-size: 11px !important;
            padding: 0% !important;
        }
    }
}

@media (max-width: 700px) {
    div {
        button {
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            font-size: 12px !important;
            padding: 0% !important;
        }
    }
}