<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="login">
    <div class="loginText">
        <div class="title">
            <a mat-dialog-close (click)="cerrar()">
            </a>
            <div class="tituloImagen">
                <img src="../../../../assets/woolworth@3x.png" alt="Bambu-Logo">
            </div>
        </div>
        <h1 class="loginEncabezado">Inicia sesión</h1>
        <h2>descubre todos nuestros beneficios</h2>
        <div class="loginSingup">
            <h3>¿Aún no tienes una cuenta? </h3> &nbsp; <a class="textosVerdes" (click)="abrirRegistro()">Registrate</a>
        </div>
    </div>
    <div class="formLogin">
        <form [formGroup]="acceso" (ngSubmit)="logueo(acceso.value)">
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico </mat-label>
                <input matInput formControlName="email" type="text" placeholder="Correo" required>
            </mat-form-field>
            <p *ngIf="this.errorEmail">{{this.errorEmail}}</p>
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Contraseña" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <p *ngIf="this.errorPassword">{{this.errorPassword}}</p>
            <p *ngIf="acceso.get('password').hasError('minlength')">La contraseña debe tener almenos {{minPw}} caracteres</p>
            <div class="loginForget">
                <a (click)="abrirOlvidada()">¿Olvidaste la contraseña?</a>
            </div>
            <div mat-dialog-actions>
                <button type="submit" class="botonesVerdes" mat-button>Iniciar sesión</button>
            </div>
        </form>
    </div>
</div>