<div class="toolbar">
    <div class="bambu-img">
        <img src="../../../assets/woolworth@3x.png" alt="Bambu">
    </div>
    <h1 class="title-toolbar">Noticias</h1>
    <div class="login">
        <div class="user" *ngIf="authServ.userData | async as user; else showLogin" (click)="onLogout()">
            <a>
                <p>{{email}}</p><img src="../../../../assets/admin.svg" alt="User">
            </a>
        </div>
        <ng-template #showLogin>
            <div class="loginText">
                <button mat-button (click)="openSession()">Ingresar</button>
            </div>
        </ng-template>
    </div>
</div>