<div class="reset">
    <div class="resetText">
        <div class="close">
            <a mat-dialog-close (click)="closeWdw()">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <h1 class="resetEncabezado">Recupera contraseña</h1>
        <div class="resetLogin">
            <h3>¿Recuerdas contraseña? </h3> &nbsp; <a class="textosVerdes" (click)="openSession()">Iniciar sesión</a>
        </div>
    </div>
    <form [formGroup]="reset" (ngSubmit)="resetPassword(reset.value)">
        <mat-form-field appearance="outline">
            <mat-label>Correo Electrónico </mat-label>
            <input matInput formControlName="email" type="text" required>
            <mat-error *ngIf="reset.get('email').hasError('required') && !this.errorEmail">Correo requerido</mat-error>
        </mat-form-field>
        <p *ngIf="this.errorEmail">{{this.errorEmail}}</p>
        <div mat-dialog-actions>
            <button type="submit" class="botonesVerdes" mat-button [disabled]="!reset.valid">Restaurar
                contraseña</button>
        </div>
    </form>

</div>