<div class="forget">
    <div class="forgetText">
        <div class="close">
            <a mat-dialog-close (click)="closeWdw()">
                <mat-icon>close</mat-icon>
            </a>
        </div>
        <img src="../../../../assets/woolworth@3x.png" alt="iCarantyLogo">
        <h1 class="forgetHeader">Correo enviado</h1>
        <img src="../../../../assets/mail.png" alt="Mail" class="mail">
        <div class="forgetSingup">
            <h3>Hemos enviado un enlace a tu correo para reestablecer la contraseña.</h3>
            <h3>Sigue los pasos y vuelve a intentar.</h3>
        </div>
        <div class="forgetLogin">
            <a class="textosVerdes" (click)="openSesion()">Regresar a inicio de sesión</a>
        </div>
    </div>
</div>